@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-[1200px] w-full;
}
.container-2 {
  @apply mx-auto max-w-[1500px] w-full;
}

@layer components {
  .header__nav {
    @apply z-50 w-[100vw] max-h-[0vh] absolute top-10 left-0 flex-col justify-start duration-[.7s] items-start lg:static lg:max-h-fit lg:overflow-visible overflow-hidden;
  }

  .header__nav.open {
    @apply max-h-[31vh] duration-[.7s] transition-all w-full overflow-y-scroll lg:h-auto lg:overflow-y-hidden;
  }

  .platform {
    @apply before:content-[""] before:relative before:border-l-[15px] 
        before:border-r-[15px] before:border-b-[15px] 
        before:border-solid before:border-transparent 
        before:left-[234px] before:bottom-[36px]
         before:border-b-[#25252b] lg:before:left-[235px];
  }

  .dropdown__nav {
    @apply z-50 w-[100vw] max-h-[0vh] absolute top-10 left-0 flex-col justify-start duration-[.7s] items-start lg:static overflow-hidden;
  }

  .dropdown__nav.open {
    @apply max-h-[31vh] duration-[.7s] transition-all w-full overflow-y-scroll lg:h-auto lg:overflow-y-hidden;
  }
}


.tns-outer {
  @apply relative;
}

.tns-controls {
  @apply flex items-center justify-between absolute top-[40%] min-w-full z-20 lg:top-[4rem];
}

.tns-controls button {
  @apply text-[30px] text-[#777];
}
